<!DOCTYPE html>
<html>
  <head>
        
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    
     
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/styles/maincss.css">



    <title>WellyWalks</title>
  </head>
  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="mainstyle masthead-brand">WellyWalks</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/add">Add a walk</a>
            <a class="nav-link" href="/adduser">Sign up</a>
            <a class="nav-link" href="/profiles">View users</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <br>
        <h1 class="mainstyle cover-heading">Welcome to Welly Walks!</h1>
        <p class="lead">Select a walk from the drop down menu, add your own walking route, or sign up and list your fav Welly Walks.</p>
        <br>
        
        {{{body}}}
          
      </main>
        
      
    </div>

  </body>
</html>

