<h3>Add Walk</h3>
<form action="/add" method="POST">
    <input placeholder="Walk name"type="text" name="walk_name"  />
    <input placeholder="Created By"type="text" name="created_by"  />
    <input placeholder="Location"type="text" name="location"  />
    <input placeholder="Length" type="number" name="length" />
    <input placeholder="Duration" type="number" name="duration"  />
    <input placeholder="Difficulty"type="text" name="difficulty"  />
    <input placeholder="Description"type="text" name="description" />
    <input placeholder="URL"type="url" name="url" />
    <input id="submit" type="submit" value="Add Walk" />
</form>

{{#if success}}
    <h2 id="success">Added walk  <i class="fas fa-check"></i>

</h2>
{{/if }}

<a href="/">Home</a></br>