<h3>Add User</h3>
<form action="/adduser" method="POST">
    <input type="text" name="name" value="name" />
    <input type="text" name="level" value="level" />
    <input type="text" name="bio" value="bio" />
    <input type="url" name="image" value="image" />
    <input id="submit" type="submit" value="Sign up" />
</form>

{{#if success}}
    <p>Added user!</p>
{{/if }}

<a href="/">Home</a></br>