<div class="container">

<div class="new-walk-form">
<form action="/walks/" method="POST">
      <select name="walk_id">
        {{#each walks}}
          <option value="{{id}}" name="optionName">{{walk_name}}</option>
        {{/each}}
      </select>
      <input id="submit" type="submit" value="Let's go!" />
</form>
</div>

<footer class="footer">
        <div class="inner">
          <p>Brought to you by Welli, Robbie, Leslie, Lianna, and Ben</p>
        </div>
      </footer>


</div>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.rd.com/wp-content/uploads/2016/02/01-walking-for-exercise-stroll-with-friends.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="https://www.ezicarrental.co.nz/wp-content/uploads/2016/04/maxresdefault.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="http://www.jllapsites.com/nzproperty/wp-content/uploads/2017/04/Wellington.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>