/* ---------- Sandbox colours for ease of checking ---------- *
/* Small phones = <400px */
body {  background-color: #D1EBFF;}
/* Big phones = 400-550px = red */
@media (min-width: 400px) { body {background-color: red;} }
/* Phablet = 550-750px = orange */
@media (min-width: 550px) { body {background-color: orange;} }
/* Tablet = 750-1000px = yellow */
@media (min-width: 750px) { body {background-color: yellow;} }
/* Desktop = 1000-1200px = green */
@media (min-width: 1000px) { body {background-color: lightgreen;} }
/* HD Desktop = >1200px = blue */
@media (min-width: 1200px) { body {background-color: lightblue;} }

/* -------------------- Body ----- */


body {
  background-color: #98e698;
}


.row {
  display: flex;
  justify-content: space-around;
}

/* -------------------- Nav ----- */

.nav-row {
  display: flex;
  justify-content: space-around;
  border: solid black 1px;
  /* max-width: 50%; */
}

nav {
  padding: 5px;
}

nav a {
  font-size: 1.3em;
}

.nav-link {
  padding: 15px;
}

/* -------------------- Headings ----- */


h1 {

}

h2 {
  font-style: italic;
  font-weight: 200;
}

/* -------------------- Add walks form ----- */


.new-walk-form {
  margin-top: 20px; 
}

form select {
  font-size: 1.1em;
  
}

form input {
  font-size: 1.1em;
}

/* -------------------- Walks ID pages ----- */

/* -------------------- IFrame ----- */

iframe {
  width: 400px;
  height: 400px;
}
/* Phablet = 550-750px = orange */
@media (min-width: 550px) {
  iframe {
    width: 500px;
    height: 500px;
  }
}

/* Tablet = 750-1000px = yellow */
@media (min-width: 750px) {}
/* Desktop = 1000-1200px = green */
@media (min-width: 1000px) {}
/* HD Desktop = >1200px = blue */
@media (min-width: 1200px) {
  iframe {
    width: 600px;
    height: 600px;
  }
}